body{
    background-color: #f0f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: #003366;
    border: 2px solid #003366;
}
.heading{
font-family: Georgia, 'Times New Roman', Times, serif;
color: #031f3c;
}